<div class="left">

    <div class="zy_leftmeun">
        <ul class="ul1">
            <li class="level1">
                <a href="/logout">退出登录</a>
            </li>
            <li class="level1">
                查询
                <ul class="ul2">
                    <li class="level2"><a href="/qrcode/query">抽奖码查询</a></li>
                </ul>
            </li>
            <li class="level1">
                奖品设置
                <ul class="ul3">
                    <li class="level3"><a href="/Prize/setting/redpack">红包奖品设置</a></li>
                </ul>
                <ul class="ul3">
                    <li class="level3"><a href="/Prize/setting">实物奖品设置</a></li>
                </ul>
            </li>
            <li class="level1">
                地址管理
                <ul class="ul3">
                    <li class="level3"><a href="/address/management">地址管理</a></li>
                </ul>
            </li>
            <li class="level1">
                中奖结果
                <ul class="ul3">
                    <li class="level3"><a href="/Winning/result">实物中奖结果查询</a></li>
                </ul>
                <ul class="ul3">
                    <li class="level3"><a href="/redpack/result">红包中奖结果查询</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>