<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试模板</title>
    <link href="/static/css/all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/new1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/award.css">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/layout.js" type="text/javascript"></script>

</head>
<body>
<div id="container">
    <table bgcolor="#e1e9eb" border="0" cellpadding="0" cellspacing="0" >
        <tbody>
        <tr>
            <td width="150" class="leftTd"  style="vertical-align:top">
                <div class="left">
                    <div class="zy_leftmeun">
                        <ul class="ul1">
                            <li class="level1">
                                查询
                                <ul class="ul2">
                                    <li class="level2"><a href="QRcode_query.html">二维码链接查询</a></li>
                                </ul>
                            </li>
                            <li class="level1">
                                奖品设置
                                <ul class="ul3">
                                    <li class="level3"><a href="Prize_setting.html">奖品设置</a></li>
                                </ul>
                            </li>
                            <li class="level1">
                                地址管理
                                <ul class="ul3">
                                    <li class="level3"><a href="Address_management.html">地址管理</a></li>
                                </ul>
                            </li>
                            <li class="level1">
                                中奖结果
                                <ul class="ul3">
                                    <li class="level3"><a href="Winning_result.html">中奖结果查询</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td width="7">
                <div class="pointer"></div>
            </td>

            <td width="" style="vertical-align:top">
                <div class="right">
                    <div class="current">
                        当前位置：地址管理>地址管理
                    </div>
                    <div class="rightCont fix">


                        <label span></label>
                        <div class="zy_mainbox prizepool">
                            <div class="zy_toolbar log_bar">

                                <label class="labels logstart">开始时间:
                                    <input type="date" class="put_date" value="" >
                                    <span class="datebar"></span>
                                </label>
                                <label class="labels logend">结束时间:
                                    <input type="date" class="put_date" value="">
                                    <span class="datebar"></span>
                                </label>
                                <span class="tabSub log_export">导出</span>
                            </div>
                            <div class="award_manager jctable">
                                <table class="award_managerlist ">
                                    <tbody>
                                    <tr class="th_bg">
                                        <th width="15%">奖品名称</th>
                                        <th width="15%">邮箱</th>
                                        <th width="8%">电话</th>
                                        <th width="8%">收货地址</th>

                                    </tr>

                                    <tr>
                                        <td>娃娃机</td>
                                        <td>test@qq.com</td>
                                        <td>1234589864</td>
                                        <td>广州</td>
                                    </tr>
                                    <tr>
                                        <td>口红机</td>
                                        <td>test@gmail.com</td>
                                        <td>18991612</td>
                                        <td>广州</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="page_div clearfix">
                                <div class="page fix" >
                                    <a href="#" class="pre">上一页</a>
                                    <a href="#" class="num cur">1</a>
                                    <a href="#" class="num">2</a>
                                    ......
                                    <a href="#" class="num">4</a>
                                    <a href="#" class="next">下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>