<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{template "inc/foot.html".}}
    {{template "inc/excel.html".}}
    <script type="text/javascript">
        function charge(){
            var Id =$("#Id").val();
            $.get("/redpackquery", {Code:Code}
            )
        };
    </script>
</head>
<body>
<div id="container">
    <table bgcolor="#e1e9eb" border="0" cellpadding="0" cellspacing="0" >
        <tbody>
        <tr>
            <td width="150" class="leftTd"  style="vertical-align:top">
                {{template "inc/meta.html".}}
            </td>
            <td width="7">
                <div class="pointer"></div>
            </td>

            <td width="" style="vertical-align:top">
                <div class="right">
                    <div class="current">
                        当前位置：中奖结果>中奖结果
                    </div>
                    <div class="rightCont fix">

                        <div class="zy_mainbox logwrap">
                            <div class="zy_toolbar">

                                <form action="/redpackquery" method="post">
                                    <input id="Id" name="code" type="text" placeholder="请输入抽奖码" style="font-size: 20px" value={{.radValue}}>
                                    <button id ="add"  class="zy_button queryclass" type="submit">查询</button>
                                </form>
                            </div>
                            <div class="award_manager jctable">
                                <table class="award_managerlist ">
                                    <tbody>
                                    <tr class="th_bg">
                                        <th width="20%">中奖金额</th>
                                        <th width="20%">中奖奖品名称</th>
                                        <th width="20%">抽奖编码</th>
                                        <th width="20%">是否发送</th>
                                        <th width="20%">时间</th>
                                    </tr>
                                    {{range $k,$v := .redlist}}
                                        <tr>
                                            <td>{{$v.Fee}}</td>
                                            <td>{{$v.GiftName}}</td>
                                            <td>{{$v.Code}}</td>
                                            <td>{{$v.ErrMsg}}</td>
                                            <td>{{$v.Date|convertt}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
