<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{template "inc/foot.html".}}
    {{template "inc/excel.html".}}
</head>
<body>
<div id="container">
    <table bgcolor="#e1e9eb" border="0" cellpadding="0" cellspacing="0" >
        <tbody>
        <tr>
            <td width="150" class="leftTd"  style="vertical-align:top">
                {{template "inc/meta.html".}}
            </td>
            <td width="7">
                <div class="pointer"></div>
            </td>

            <td width="" style="vertical-align:top">
                <div class="right">
                    <div class="current">
                        当前位置：中奖结果>中奖结果
                    </div>
                    <div class="rightCont fix">

                        <div class="zy_mainbox logwrap">
                            <div class="zy_toolbar">

                                <form action="/Winning/Query" method="post">
                                    <input id="Id" name="Id" type="text" placeholder="请输入抽奖码" style="font-size: 20px" value={{.queryValue }}>
                                    <button id ="add"  class="zy_button queryclass" type="submit">查询</button>
                                </form>
                            </div>

                            <div class="zy_toolbar log_bar">

                                <div class="spantable">
                                    开始时间:<input id="start" type="text" class="put_date" > 结束时间 <input id="end" type="text" class="put_date"> <input type="radio" name="scope" value="winnder">test</input>
                                    <button id="saveSpan" class="btn btn-primary">导出</button>
                                </div>
                            </div>
                            <iframe id="my_iframe" style="display:none;"></iframe>
                            {{template "inc/js.html".}}
                            <div class="award_manager jctable">
                                <table class="award_managerlist ">
                                    <tbody>
                                    <tr class="th_bg">
                                        <th width="20%">ID</th>
                                        <th width="20%">抽奖编码</th>
                                        <th width="20%">中奖奖品名称</th>
                                        <th width="20%">中奖时间</th>
                                    </tr>
                                    {{range $k,$v := .winninglist}}
                                        <tr>
                                            <td>{{$v.Id}}</td>
                                            <td>{{$v.Qx}}</td>
                                            <td>{{$v.GiftName}}</td>
                                            <td>{{$v.Date|convertt}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>


